@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>New Registrations</h1>
    <p class="lead">
    The Page is used to help Membership Registration Desk to Monitor the status and stage that the Registration of New Members has reached.
    </p>
    

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The Webpage has the List of all the on-going Registration that have been previewed online, printed or sent for approval.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44391/newentrytbs/index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Entry</h2>
        <p>New on-going Registration and the current status of processing can be entered for easy tracking</p>
        <p><a class="btn btn-default" href="https://localhost:44391/newentrytbs/create">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://localhost:44391/newentrytbs/edit">Learn more &raquo;</a></p>
    </div>*@
</div>